.selection-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
}
.scientists-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.prize-container {
  background-color: rgb(243, 219, 219);
  border-radius: 10px;
  text-align: center;
}
